<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="urlForm" class="mt-4">
            <label for="longUrl">Enter a URL:</label>
            <div class="input-group">
                <input type="text" name="nm" id="longUrl" class="form-control" placeholder="Example https://www.google.com/" required>
                <button type="submit" class="btn btn-primary">Shorten</button>
            </div>
        </form>
        <div id="shortUrl" class="mt-4">
            <div class="result">
                Shortened URL: <span id="shortenedUrl" class="font-weight-bold"></span>
            </div>
            <div class="error" id="error" ></div>
        </div>
        <a href="{{ url_for('list_urls') }}" class="btn btn-secondary mt-4">List of URLs</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
